{% include 'layout/header.html' %}
<div class="container-fluid error" style="padding-top:100px;padding-bottom:100px;background-image: url({{ url_for('static', filename='img/intro-carousel/1.jpg') }});background-repeat: no-repeat, repeat;background-color: #000;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="h1">
                    Oops!</h1>
                <h2 class="text-danger">
                    {% block errorcode %}
                    {% endblock %}
                </h2>
            </div>
        </div>
    </div>
</div>
<link href="{{ url_for('static',filename='css/error-style.css') }}" rel="stylesheet">
{% include 'layout/footer.html' %}

