body{
    background-color: #000;
}
.container {
    margin: 0 auto;
    padding: 150px 50px;
    /*background: rgb(0, 0, 0);*/
 }
 #profile-name{
     color: #fff;
     padding: 5px;
 }
 button{
     width: 100%;
 }
 p{
     text-align: center;
 }
 profile{
    text-align: center;
 }
 .btn-cst{
     margin-top: 50px;
     word-wrap: break-word;
 }
