<!--Footer-->
<footer class="page-footer font-small indigo pt-0">

  <style>
    .py-5{
      padding-bottom: 0px !important;
    }
  </style>
    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12 py-5">

              <center>

                <div class="mb-5 flex-center">
                    <!--Facebook-->
                    <a class="fb-ic" href="http://fb.com/raymonbatsy">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic" href="https://twitter.com/DRFreeze7">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic" href="https://plus.google.com/+DRFreeze777">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin-->
                    <!--a class="li-ic" href="">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a-->
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/raymon_batsy/">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <!--a class="pin-ic">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a-->
                </div>
              </center>
            
              </div>
            
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://ticatwolves.pythonanywhere.com"> ticatwolves </a>
    </div>
    <!--/Copyright-->

</footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static',filename='lib/superfish/hoverIntent.js') }}"></script>
  <script src="{{ url_for('static',filename='lib/superfish/superfish.min.js') }}"></script>
  <script src="{{ url_for('static',filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>
