{% include 'layout/header.html' %}
<style>
    
</style>
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Our Developers</h3>
        </header>


        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shubham.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shubham Sethi</h2>
                        <div class="card-text">
                            Group Leader
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shobhit.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shobhit Bhatnagar</h2>
                        <div class="card-text">
                            Group Member
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/robin.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Robin Singh</h2>
                        <div class="card-text">
                            Group Member
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/sarthak.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Sarthak</h2>
                        <div class="card-text">
                            Group Member
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/asif.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Mohd Asif</h2>
                        <div class="card-text">
                            Group Member
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
      </div>
    </section>
  {% include 'layout/footer.html' %}

