{% include 'layout/header.html' %}
<style>
#about {
  background: url("{{ url_for('static', filename='img/call-to-action-bg.jpg') }}") center top no-repeat fixed;
  background-size: cover;
  padding: 100px 0 40px 0;
  position: relative;
}
</style>
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Brainos provide advance home automation.</p>
        </header>
      </div>
    </section>

    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Developers</h3>
        </header>


        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shubham.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shubham Sethi</h2>
                        <div class="card-text">
                            Sn. Hadoop Developer.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shubham.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shubham Sethi</h2>
                        <div class="card-text">
                            Sn. Hadoop Developer.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shubham.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shubham Sethi</h2>
                        <div class="card-text">
                            Sn. Hadoop Developer.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shubham.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shubham Sethi</h2>
                        <div class="card-text">
                            Sn. Hadoop Developer.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static',filename='img/shubham.jpg') }}">
                    <div class="card-block">
                        <h2 class="h2 card-title">Shubham Sethi</h2>
                        <div class="card-text">
                            Sn. Hadoop Developer.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
      </div>
    </section>
  {% include 'layout/footer.html' %}

