{% include 'layout/header.html' %}


<div class="container login-container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-lg-4">
      <section class="login-form">
        <form method="post" action="#" role="login">
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
          <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required />
          <div class="pwstrength_viewport_progress"></div>
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div>
            <a href="{{ url_for('signup') }}">Create account</a> or <a href="{{ url_for('forgetpass') }}">reset password</a>
          </div>
        </form>
      </section>  
      </div>
      <div class="col-md-4"></div>
      

  </div>

</div>
<link href="{{ url_for('static',filename='css/login-style.css') }}" rel="stylesheet">
{% include 'layout/footer.html' %}
